@import url('https://fonts.googleapis.com/css2?family=Acme&family=Darumadrop+One&family=Sigmar&display=swap');

:root {
    --primary-color: #0095E0;
    --secondary-color: #E77813;
    --accent1-color: #FBF001;
    --accent2-color: #846580;

    --heading-font: 'Sigmar';
    --paragraph-font: 'Acme';

    --nav-background-color: #0095E0;
    --nav-link-color: #E77813;
    --nav-hover-link-color: #FBF001;
    --nav-hover-background-color: #846580;

    --primary-background-color: #0095E080;
    --secondary-background-color: #E7781380;
    --accent1-background-color: #FBF00180;
    --accent2-background-color: #84658080;
}

* {
    margin: 0 auto;
}
body {
    font-family: var(--paragraph-font);
    /* max-width: 720px; */
    /* padding: 20px; */
    margin: 0 auto;
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    /* align-content: center; */
}
.hero img {
    display: block;
    width: 100%;
    max-width: 1024px;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
}
h1 {
    position: absolute;
    text-align: center;
    /* top: 200; */
    left: 0;
    right: 0;
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent2-background-color);

}
.hero article {
    position: absolute;
    top: 450px;
    background-color: var(--accent1-background-color);
    max-width: 750px;
    min-width: 150px;
    /* opacity: .75; */
}
.hero article img {
    float: right;
    position: relative;
    max-width: 300px;
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    align-content: center;
    justify-content: space-around;
    /* align-items: baseline; */
    flex-wrap: wrap;
    flex: 1;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color)
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
main {
    max-width: 50rem;
}
footer a {
    text-decoration: none;
}
#history section {
    display: flex;
}