* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flow-root;
    max-width: 720px;
    grid-area: main;
}
aside {
    /* width: 30em; */
    position: relative;
    grid-area: aside;
}
aside h2 {
    position: absolute;
    left: 56px;
    top: 12px;
}
aside img {
    width: 200px;
    height: auto;
}
nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 1.2rem;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}
h1 {
    color: steelblue;
    border-bottom: 2px ridge steelblue;
    padding: .25rem;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 0;
}
footer {
    margin-top: 10px;
    border-top: 1px solid blue;
}
ul {
    width: 20rem;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selectors */

.box {
    display: flow-root;
    margin: 1rem;
    padding: 1rem;
    border: 1rem;
    background-color: orange;
    color: blue;
    position: relative;
}
.grid {
    display: grid;
    align-items: center;
    grid-template-areas:
    "aside main";
    grid-template-columns: 1fr 3fr;
}
